html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg-primary);
  color: var(--primary-color);
  font-family: "Overpass", sans-serif;
  max-width: 100vw;
  min-height: 100%;
  background-image: linear-gradient(var(--peaceful-color), var(--bg-primary));
  scroll-behavior: smooth;
  overflow-x: hidden;
}
:root {
  --primary-color: #14213d;
  --secondary-color: #e2e2e2;
  --bg-primary: #5ba4b8;
  --bg-secondary: #343a40;
  --highlight-color: #2b9348;
  --close-color: #ff0000;
  --peaceful-color:#b0cde7;
}
